@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url(./fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'Vast-Shadow';
    src: local('Vast_Shadow'), url(./fonts/Vast_Shadow/VastShadow-Regular.ttf) format('truetype');
}

:root {
    --ease-yellow: #FFC070;
    --ease-light-yellow: #FFEDD5;
    --ease-red: #A45E5E;
    --ease-light-red: #D1A599;
}